stanford-postagger-full-2015-04-20/
.DS_Store
informe/achemso.aux
informe/achemso.bbl
informe/achemso.blg
informe/achemso.fdb_latexmk
informe/achemso.fls
informe/achemso.log
informe/achemso.pdf
informe/achemso.synctex.gz
